config/__pycache__/load_config.cpython-313.pyc
config/__pycache__/modalidades.cpython-313.pyc
core/__pycache__/crono_thread.cpython-313.pyc
web/__pycache__/server.cpython-313.pyc
web/__pycache__/routes.cpython-313.pyc
__pycache__/panelcontrol.cpython-313.pyc
__pycache__/helpers.cpython-313.pyc
__pycache__/running.cpython-313.pyc
__pycache__/ajustes.cpython-313.pyc
config/__pycache__/settings.cpython-313.pyc
sonidos/__pycache__/audio_manager.cpython-313.pyc
__pycache__/coloroverlay.cpython-313.pyc
init_venv.ps1
hardware/__pycache__/brillo.cpython-313.pyc
__pycache__/numeric_keyboard.cpython-313.pyc
display/__pycache__/brillo.cpython-313.pyc
display/__pycache__/gpio_display.cpython-313.pyc
gui/__pycache__/ajustes.cpython-313.pyc
gui/__pycache__/coloroverlay.cpython-313.pyc
gui/__pycache__/numeric_keyboard.cpython-313.pyc
gui/__pycache__/panelcontrol.cpython-313.pyc
gui/__pycache__/running.cpython-313.pyc
config/__pycache__/configstate.cpython-313.pyc
